<h2 class="group_title" mat-dialog-title>{{name}} {{value}}</h2>
<div class="group_dialog_content">
    <mat-chip-list>
        <mat-chip *ngFor="let att of atts" (click)="openAttributeDialog(att)">
            {{att.attribute}}: {{att.value}}
        </mat-chip>
    <mat-chip color="primary" selected="true" (click)="newAttributeDialog()">NEW</mat-chip>
    </mat-chip-list>
    <br>
    <mat-dialog-content>
        <mat-tab-group (selectedTabChange)="get_chart($event)">
            <mat-tab *ngFor="let stream of streams" label={{stream}}>
                <ng-template matTabContent>
                    <button mat-icon-button (click)="openEventDialog(stream+'_dialog')"><mat-icon>add_comment</mat-icon></button>
                    <div id="{{stream}}_dialog"></div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
</div>
